<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hello world <%= name.toUpperCase() %>

    <% if(10 > 3) { %>

        <h1>2 is greater than 3</h1>
    <% } %>
</body>
</html>